/*Krishna karki*/
/*16418530*/

.vanila{

  background: linear-gradient( to right, red, blue, orange, green );
  text-align: center;

}


.container{
  text-align: center;
  padding:1%;
  font-size: 20px;

  background: url("../images/sdg.jpg");
  border-radius: 6px;
  margin-left: 10%;
  margin-right: 10%;
}
.container Input,textarea{

  font-size: 30px;
  margin-bottom: 20px;
text-align: center;

}

.papa{

  text-align: center;
}
.papa h2{

  color:rgb(0, 255, 204);

  text-align: center;

}



@media (max-width:1200px){
  .container{
    width: 100;
  }
.container  input,textarea,label{
    width: 100%;
    font-size: 20px;
    flex-direction: column;
  }
  .container button{
  font-size: 25px;
  }
  .papa,.map,.vanila{
    flex-direction: column;
    width: 100%;
  }
    .map iframe{
      flex-direction: column;
      width: 100%;
    }
