/*Krishna karki*/
/*16418530*/

.vanila{

  background: linear-gradient( to right, red, blue, orange, green );
  text-align: center;

}


.container{
  text-align: center;
  padding:1%;
  font-size: 1.250em;

  background: url("../images/sdg.jpg");
  border-radius: 0.375em;
  margin-left: 10%;
  margin-right: 10%;
}
.container Input,textarea{

  font-size: 1.875em;
  margin-bottom: 1.250em;
text-align: center;

}

.papa{

  text-align: center;
}
.papa h2{

  color:rgb(0, 255, 204);

  text-align: center;

}



@media (max-width:75em){

.container  input,textarea,label{
    width: 100%;
    font-size: 1.250em;
    flex-direction: column;
  }
  .container {
  font-size: 1.563em;
  margin-right: 5%;
  margin-left: 5%;
  }
  .papa,.map,.vanila{
    flex-direction: column;
    width: 100%;
  }
    .map iframe{
      flex-direction: column;
      width: 100%;
    }
  }
