/*Krishna karki*/
/*16418530*/

.bucket{
color: white;
display: flex;flex direction:row;
text-align: center;
border-color: blue;
}




.sidebar{
  width:30%;
  background: lightgreen;
 font-size: 25px;

  font-family: 'Ranga';
  color: rgb(51, 153, 255);

}
.sidebar p{

  text-align: center;

}

.main{
  width:70%;
  float: left;
  background: rgb(204, 255, 255);

}
.nepali{
  justify-content: space-around;
}



   .main h2{
  text-align: center;
  font-size: 30px;
  color: black;
  text-decoration: underline;
}


  .article-img img{
    justify-content: space-around;;no-wrap;
    padding: 1%;
    transition: transform 0.5s;
  }
  .article-img img:hover{
    transform: scale(1.2);
    white-space: pre-wrap;
  }
  @media (max-width:1200px){
    .bucket, .sidebar,.main{
      flex-direction: column;
      width: 100%;
    }
  }
