/*Krishna karki*/
/*16418530*/

body{
  /*Adding backgroundimage*/
  background-image:url("../images/flower.jpg");background-size: cover;
  color:black;
  font-family:  "Baloo Bhaina", cursive;
  margin-left: 10%;margin-right: 10%;


    }
  header h1{
    font-size: 3.750em;
    text-shadow: 0.313em 0.313em 0.313em red;
    color: rgb(0, 255, 204);
    position: relative;
    text-align: center;
    transition: transform 0.5s;


            }
            header h1:hover{
              transform: scale(1.2);

            }

    header img{
      position: absolute;
      float: left;



              }
      li{
        list-style: none;
        }
      a{
        text-decoration: none;
      }

      .menubar{

        /*background: rgb(0, 255, 204);*/
        width: 100%;
            }

      .menubar ul{
        display:flex;flex-direction: row;justify-content:space-between;
        text-decoration: none;
                }
        .menubar ul li{
          margin: 0.5%;padding: 1.5% ;background:lightblue;flex-grow: 1; text-align:center;

                      }
          .menubar ul li:hover{
            background: rgb(153, 102, 255);
            border-radius: 1.250em;

                              }
            .menubar ul li ul{
              display:none;
              position:absolute;
               width:20%;
                              }
              .menubar ul li:hover ul{
                display: block;
                margin:0.031em 0 0 0 ;
                background: rgb(0,255,204) ;
                padding: 1%;

                text-align: center;

                }
                .slider{
                  overflow: hidden;
                  height: 31.250em;
                  /*margin:3.125em auto;*/
                  position: relative;

                      }

                  .img {
                    position: absolute;
                    animation: creesh 15s infinite;
                    animation: creesh 15s infinite;
                    opacity: 0;

                      }
          @keyframes creesh{
            10%{opacity: 1}
            45%{opacity: 0}
                                    }
    img:nth-child(0){animation-delay: 0s;animation-delay: 0s;}
    img:nth-child(1){animation-delay: 5s;animation-delay: 5s;}
    img:nth-child(2){animation-delay: 10s;animation-delay: 10s;}
        footer{
          display: flex;flex-direction: row;
          padding:0.3%;
          background: rgb(0, 255, 204);
          margin-top: 1.250em;
          color: rgb(51, 102, 255);
          font-size: 1.01em;

              }
              .copyright{
                width:50%;
                        }
                .contact{
                  width:50%;
                  text-align: right;

                        }
        /*Making website responsive*/
        @media all and (max-width:1200px){
        .menubar,  .menubar ul,.menubar ul li, .mukhya, .container{
            flex-direction: column;
            text-align: center;
            }
           .slider img{
            flex-direction: column;
            width: 100%;

                }
            section,footer{
           flex-direction: column;
           font-size: 0.938em;

                        }
                       
         .copyright,.contact{
           width:96%;margin-bottom: 3%;text-align: center;

         }
       }
